<section class="relations">
  <div class="filter">
    <h2 class="filter__heading" *ngIf="_appService.input === ''">Expert's collaborations</h2>
    <h2 class="filter__heading" *ngIf="_appService.input !== ''">Search result for "{{_appService.input}}" trough collaborations</h2>
      
    <div class="filter__paginator">
      <mat-paginator #paginator [length]="paginationCount" [pageIndex]="0" [pageSize]="36" hidePageSize="true"  (page)="pageEvent = $event; onPaginateAuthorChange($event)">
      </mat-paginator>
    </div>
  </div>

  <section class="relations__block" *ngIf="!dataService.loading">
    <mat-drawer-container [class]="opened ? 'activeCard' : ''" class="sidenav-container">
      <div class="relations__cards" *ngFor="let data of dataSource.data">
        <div [ngStyle]="{'opacity': !authorDetails.includes(data.name) && opened ? '0.4' : '1'}" [class]="(data.name === cardName && opened) ? 'relations__card active' : 'relations__card'" (click)="(data.name === cardName || !opened) ? getAuthorsDetails(data) : ''">
          <span class="material-symbols-outlined">person_outline</span>
          <p>{{data.name}}</p>
          <span *ngIf="authorDetails.includes(data.name) && opened" class="relations__label">{{data.number_of_relevant_publications}} work</span>
        </div>
      </div>
        <mat-drawer class="sidenav" [ngClass]="opened? 'openBox' : ''" #drawer mode="side" position="end">
          <div class="experts__item">
            <div class="experts__title">
              <div class="experts__info">
                <div class="experts__image">
                  <img src="./../../assets/alcon/profile.svg" alt="profile">
                  <button><span class="material-symbols-outlined">folder_special</span></button>
                </div>
                <div class="experts__data">
                  <h2>{{cardName}}</h2>
                  <ul class="experts__list">            
                    <li>
                      <span class="material-symbols-outlined">description</span>
                      <span class="font-600">{{expertDetails[1]?.number_of_publications}} relevant publications</span>
                    </li>
                    <li>
                      <span class="material-symbols-outlined">description</span>
                      {{expertDetails[1]?.number_of_publications}} publications
                    </li>
                    <li>
                      <span class="material-symbols-outlined">mic</span>
                      0 presentations
                    </li>
                    <li>
                      <span class="material-symbols-outlined">groups</span>
                      {{expertDetails[1]?.network_size}} network size
                    </li>
                  </ul>
                </div>
              </div>
        
            </div>
        
            <div class="experts__box">
              <div class="experts__pub">
                <p>Recent publications:</p>
                  <div class="s-info-containter" *ngFor="let pubs of expertDetails[0]">
                      <div class="s-info-sm .mat-body-strong">
                          <span class="s-text-ellipsis"> <a [href]='pubs.website_link' target="_blank">{{pubs.title}}</a> </span>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </mat-drawer>
    </mat-drawer-container>
  </section>
  <table class="s-pull-left" *ngIf="dataSource.data.length === 0 && !dataService.loading">
    <!-- Row shown when there is no matching data. -->
    <div class="no-results">
      <h2>No results for "{{_appService.input}}"</h2>
      <p>Try again.</p>
    </div>
  </table> 
  <s-modal id="maxRelations-modal">
    <div class="s-modal_maxRelations">
        <div class="s-modal__close">
            <button (click)="closeModal('maxRelations-modal');">
                <span class="material-symbols-outlined">close</span>
            </button>
        </div>
        <p>Only top 500 relations are showing in the list. To access all relations use search</p>
        <div class="s-modal__buttons">
            <button (click)="closeModal('maxRelations-modal');">Ok</button>
        </div>
    </div>
</s-modal>
  <div class="lds-default" *ngIf="dataService.loading"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
</section>