<mat-tab-group mat-align-tabs="center" class="s-tab-group">
  <mat-tab>
    <ng-template mat-tab-label>
      <!--<mat-icon class="s-tab-header-icon">-->
      <!--  <img src="../../assets/alcon/awesome-list.png" />-->
      <!--</mat-icon>-->
      Bar chart
    </ng-template>
    Content 1
  </mat-tab>

  <mat-tab>
    <ng-template mat-tab-label>
      <!--<mat-icon class="s-tab-header-icon">-->
      <!--  <img src="../../assets/alcon/awesome-share.png" />-->
      <!--</mat-icon>-->
      Network chart
    </ng-template>
    Content 2
  </mat-tab>

  <!--<mat-tab>-->
  <!--  <ng-template mat-tab-label>-->
      <!--<mat-icon class="s-tab-header-icon">-->
      <!--  <img src="../../assets/alcon/awesome-globe.png" />-->
      <!--</mat-icon>-->
  <!--    Location-->
  <!--  </ng-template>-->
  <!--  Content 3-->
  <!--</mat-tab>-->
  <!--<mat-tab>-->
  <!--  <ng-template mat-tab-label>-->
      <!--<mat-icon class="s-tab-header-icon">-->
      <!--  <img src="../../assets/alcon/metro-organization.png" />-->
      <!--</mat-icon>-->
  <!--    Affiliations-->
  <!--  </ng-template>-->
  <!--  Content 3-->
  <!--</mat-tab>-->
</mat-tab-group>

