.mat-card {
    padding: 24px 32px 24px 24px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    color: var(--primary-blue);
    transition: all .3s;

    &:hover {
        box-shadow: 0px 5px 20px rgba(0, 53, 149, 0.15);
    }
}

.mat-card-header {
    margin-left: -1rem;
}

.mat-card-subtitle {
    color: var(--primary-blue);
}
iframe {
    width: 43.75rem;
    min-height: 16.850rem;
    border-width: 0px;
}
.author_box{
    display: flex;
    align-items: flex-start;
}

.author_name {
    display: flex;
    li {
        font-size: 12px;
        line-height: 110%;
        color: var(--primary-black);
        margin-right: 4px;
        &:last-child {
            margin-right: 0;
        }
    }
}

.dateFill {
    font-size: 12px;
    line-height: 110%;
    color: var(--primary-black);
    margin: 0;
}

.mat-card-title {
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    color: var(--primary-black);
    margin-bottom: 16px;
}

.activity__dot {
    font-size: 12px;
    line-height: 110%;
    color: var(--primary-black);
    margin: 0 10px;
}
mat-card-title a{
    color: var(--primary-blue);
}
mat-card-title a:hover {
    text-decoration: underline;
}